$font-stack: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$primary-color: #000000;
$nav-background: midnightblue;
$nav-link: white;

body {
  font: 100% $font-stack;
  color: $primary-color;
}
h1 {
  font: 200% $font-stack;
  color: $primary-color;
}
nav {
  background-color: $nav-background;
    a {
      color: $nav-link;
      display: block;
      padding: 14px 16px;
      text-decoration: none;
      &:hover {
        background-color: cyan;
      }
        }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow:hidden;
    background-color: #191970;
  }
  li{
      display: inline;
      float: left;
  }
}
