$font-stack: 'Helvetica Neue', 'Open Sans', Helvetica, Arial, sans-serif;
$primary-color: #000000;
$nav-background: midnightblue;
$nav-link: white;

body {
  font: 100% $font-stack;
  color: $primary-color;
}
h1 {
  font: 300% $font-stack;
  color: $primary-color;
}
nav {
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow:hidden;
    background-color: $nav-background;
  }
  li{
      display: inline;
      float: left;
      a {
      color: $nav-link;
      display: block;
      padding: 14px 16px;
      text-decoration: none;
      &:hover {
        background-color: steelblue;
      }
        }
  }
}
.container-md{
  width: 60%;
  margin: auto;
}
.page-heading{
  text-align: center;
}
.post-preview{
  padding: .1rem;
}
.posts-list{
  margin: auto;
  width: 45%;
  padding:1rem;
  a {
    color: black;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}
